.desktop-container {
  min-height: 100vh;
}
.desktop-desktop {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 1);
}
.desktop-baner {
  display: flex;
  padding: 40px 35px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  justify-content: center;
  background-color: rgba(217, 217, 217, 0.17000000178813934);
}
.desktop-logo {
  display: flex;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  margin-right: 100px;
}
.desktop-text671 {
  width: 262px;
  height: 33px;
  position: relative;
  box-sizing: content-box;
  border-color: transparent;
}
.desktop-przyciski {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  margin-right: 100px;
  justify-content: center;
}
.desktop-przycisk {
  display: flex;
  padding: 18px 0;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 30px;
  justify-content: center;
}
.desktop-text {
  color: rgba(232, 232, 232, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop-przycisk01 {
  display: flex;
  padding: 18px 0;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 30px;
  justify-content: center;
}
.desktop-text002 {
  color: rgba(232, 232, 232, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop-przycisk02 {
  display: flex;
  padding: 18px 0;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 30px;
  justify-content: center;
}
.desktop-text004 {
  color: rgba(232, 232, 232, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop-przycisk03 {
  display: flex;
  padding: 18px 0;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.desktop-text006 {
  color: rgba(232, 232, 232, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop-ikony {
  display: flex;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  justify-content: flex-end;
}
.desktop-przyciskikony {
  width: 26px;
  height: 25px;
  position: relative;
  margin-right: 20px;
}
.desktop-przyciskikony1 {
  width: 26px;
  height: 25px;
  position: relative;
  margin-right: 20px;
}
.desktop-przyciskikony2 {
  width: 26px;
  height: 25px;
  position: relative;
}
.desktop-center {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  background-color: rgba(217, 217, 217, 0.10000000149011612);
}
.desktop-tytu {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  margin-bottom: 88px;
  flex-direction: column;
}
.desktop-gra {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 5px;
}
.desktop-text008 {
  color: rgba(212, 175, 55, 1);
  height: auto;
  opacity: 0.80;
  flex-grow: 1;
  font-size: 64px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Prata;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop-frame7 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 5px;
  flex-direction: column;
}
.desktop-movado-connectbackgroundcropped1 {
  width: auto;
  height: 240px;
  position: relative;
  align-self: stretch;
  border-color: transparent;
}
.desktop-text010 {
  color: rgba(232, 232, 232, 1);
  height: auto;
  font-size: 48px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Prata;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop-funkcje {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-bottom: 88px;
  flex-direction: column;
}
.desktop-box1 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-bottom: 88px;
}
.desktop-text015 {
  color: rgba(212, 175, 55, 1);
  width: 420px;
  height: auto;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 33px;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop-text016 {
  color: rgba(212, 175, 55, 1);
}
.desktop-undrawdestinationresr741svg {
  width: 618px;
  height: 391.37884521484375px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop-vector {
  top: 171.51638793945312px;
  left: 35.3505859375px;
  width: 579px;
  height: 193px;
  position: absolute;
}
.desktop-vector001 {
  top: 0px;
  left: 125.96240234375px;
  width: 222px;
  height: 390px;
  position: absolute;
}
.desktop-vector002 {
  top: 3.406064510345459px;
  left: 132.18505859375px;
  width: 212px;
  height: 383px;
  position: absolute;
}
.desktop-vector003 {
  top: 8.515665054321289px;
  left: 140.79833984375px;
  width: 194px;
  height: 373px;
  position: absolute;
}
.desktop-vector004 {
  top: 12.560528755187988px;
  left: 225.02099609375px;
  width: 21px;
  height: 3px;
  position: absolute;
}
.desktop-vector005 {
  top: 13.837974548339844px;
  left: 255.16748046875px;
  width: 2px;
  height: 2px;
  position: absolute;
}
.desktop-vector006 {
  top: 75.0411605834961px;
  left: 135.95263671875px;
  width: 204px;
  height: 2px;
  position: absolute;
}
.desktop-vector007 {
  top: 113.85589599609375px;
  left: 135.95263671875px;
  width: 204px;
  height: 2px;
  position: absolute;
}
.desktop-vector008 {
  top: 194.07183837890625px;
  left: 135.95263671875px;
  width: 204px;
  height: 2px;
  position: absolute;
}
.desktop-vector009 {
  top: 274.28887939453125px;
  left: 135.95263671875px;
  width: 204px;
  height: 2px;
  position: absolute;
}
.desktop-vector010 {
  top: 337.03839111328125px;
  left: 135.95263671875px;
  width: 204px;
  height: 2px;
  position: absolute;
}
.desktop-vector011 {
  top: 76.01155090332031px;
  left: 281.76513671875px;
  width: 2px;
  height: 119px;
  position: absolute;
}
.desktop-vector012 {
  top: 195.00778198242188px;
  left: 179.74755859375px;
  width: 2px;
  height: 143px;
  position: absolute;
}
.desktop-vector013 {
  top: 234.23348999023438px;
  left: 180.83935546875px;
  width: 154px;
  height: 2px;
  position: absolute;
}
.desktop-vector014 {
  top: 338.00860595703125px;
  left: 281.99951171875px;
  width: 2px;
  height: 43px;
  position: absolute;
}
.desktop-vector015 {
  top: 154.75875854492188px;
  left: 140.43505859375px;
  width: 142px;
  height: 2px;
  position: absolute;
}
.desktop-vector016 {
  top: 8.038586616516113px;
  left: 168.08935546875px;
  width: 2px;
  height: 76px;
  position: absolute;
}
.desktop-vector017 {
  top: 22.99225616455078px;
  left: 266.92724609375px;
  width: 2px;
  height: 53px;
  position: absolute;
}
.desktop-vector018 {
  top: 68.57212829589844px;
  left: 242.46630859375px;
  width: 83px;
  height: 107px;
  position: absolute;
}
.desktop-vector019 {
  top: 84.09770965576172px;
  left: 262.82373046875px;
  width: 42px;
  height: 38px;
  position: absolute;
}
.desktop-vector020 {
  top: 337.55279541015625px;
  left: 202.67724609375px;
  width: 163px;
  height: 2px;
  position: absolute;
}
.desktop-vector021 {
  top: 212.80902099609375px;
  left: 393.61279296875px;
  width: 40px;
  height: 15px;
  position: absolute;
}
.desktop-vector022 {
  top: 207.57876586914062px;
  left: 410.13818359375px;
  width: 33px;
  height: 19px;
  position: absolute;
}
.desktop-vector023 {
  top: 342.7339172363281px;
  left: 426.59326171875px;
  width: 23px;
  height: 32px;
  position: absolute;
}
.desktop-vector024 {
  top: 368.7232666015625px;
  left: 426.62841796875px;
  width: 28px;
  height: 18px;
  position: absolute;
}
.desktop-vector025 {
  top: 352.89251708984375px;
  left: 461.57373046875px;
  width: 13px;
  height: 31px;
  position: absolute;
}
.desktop-vector026 {
  top: 380.89410400390625px;
  left: 448.26123046875px;
  width: 29px;
  height: 10px;
  position: absolute;
}
.desktop-vector027 {
  top: 247.64935302734375px;
  left: 407.54833984375px;
  width: 72px;
  height: 128px;
  position: absolute;
}
.desktop-vector028 {
  top: 174.54542541503906px;
  left: 416.99169921875px;
  width: 71px;
  height: 103px;
  position: absolute;
}
.desktop-vector029 {
  top: 137.98463439941406px;
  left: 449.88037109375px;
  width: 36px;
  height: 32px;
  position: absolute;
}
.desktop-vector030 {
  top: 238.26792907714844px;
  left: 461.93115234375px;
  width: 29px;
  height: 29px;
  position: absolute;
}
.desktop-vector031 {
  top: 182.6866912841797px;
  left: 464.93896484375px;
  width: 40px;
  height: 74px;
  position: absolute;
}
.desktop-vector032 {
  top: 135.73175048828125px;
  left: 449.15185546875px;
  width: 40px;
  height: 31px;
  position: absolute;
}
.desktop-vector033 {
  top: 390.0848693847656px;
  left: 0px;
  width: 618px;
  height: 1px;
  position: absolute;
}
.desktop-vector034 {
  top: 186.3091278076172px;
  left: 274.45849609375px;
  width: 19px;
  height: 17px;
  position: absolute;
}
.desktop-vector035 {
  top: 82.9111328125px;
  left: 389.42333984375px;
  width: 30px;
  height: 32px;
  position: absolute;
}
.desktop-vector036 {
  top: 88.31069946289062px;
  left: 399.31201171875px;
  width: 14px;
  height: 13px;
  position: absolute;
}
.desktop-vector037 {
  top: 116.52140045166016px;
  left: 382.37255859375px;
  width: 6px;
  height: 6px;
  position: absolute;
}
.desktop-vector038 {
  top: 222.10305786132812px;
  left: 29.69921875px;
  width: 47px;
  height: 52px;
  position: absolute;
}
.desktop-vector039 {
  top: 230.7689666748047px;
  left: 39.8916015625px;
  width: 23px;
  height: 20px;
  position: absolute;
}
.desktop-vector040 {
  top: 278.0992736816406px;
  left: 76.89013671875px;
  width: 10px;
  height: 9px;
  position: absolute;
}
.desktop-line1 {
  width: 991px;
  height: 0px;
  position: relative;
  margin-bottom: 88px;
}
.desktop-box2 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-bottom: 88px;
}
.desktop-undrawsleepanalysiso5f91svg {
  width: 701px;
  height: 399.2286376953125px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 63px;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop-vector041 {
  top: 0px;
  left: 108.931640625px;
  width: 592px;
  height: 377px;
  opacity: 0.10;
  position: absolute;
}
.desktop-vector042 {
  top: 83.6950454711914px;
  left: 350.6953125px;
  width: 184px;
  height: 4px;
  position: absolute;
}
.desktop-vector043 {
  top: 87.97162628173828px;
  left: 350.6953125px;
  width: 184px;
  height: 70px;
  position: absolute;
}
.desktop-vector044 {
  top: 109.40135192871094px;
  left: 500.3837890625px;
  width: 34px;
  height: 8px;
  opacity: 0.50;
  position: absolute;
}
.desktop-vector045 {
  top: 115.01051330566406px;
  left: 350.796875px;
  width: 152px;
  height: 23px;
  position: absolute;
}
.desktop-vector046 {
  top: 112.30775451660156px;
  left: 497.1826171875px;
  width: 9px;
  height: 7px;
  position: absolute;
}
.desktop-vector047 {
  top: 84.68379974365234px;
  left: 353.2353515625px;
  width: 3px;
  height: 2px;
  position: absolute;
}
.desktop-vector048 {
  top: 84.68379974365234px;
  left: 356.8818359375px;
  width: 3px;
  height: 2px;
  position: absolute;
}
.desktop-vector049 {
  top: 84.68379974365234px;
  left: 360.53515625px;
  width: 3px;
  height: 2px;
  position: absolute;
}
.desktop-vector050 {
  top: 259.39263916015625px;
  left: 0px;
  width: 80px;
  height: 48px;
  position: absolute;
}
.desktop-vector051 {
  top: 269.20245361328125px;
  left: 4.9638671875px;
  width: 75px;
  height: 38px;
  position: absolute;
}
.desktop-vector052 {
  top: 182.85914611816406px;
  left: 22.1630859375px;
  width: 62px;
  height: 120px;
  position: absolute;
}
.desktop-vector053 {
  top: 156.41966247558594px;
  left: 0.06640625px;
  width: 25px;
  height: 27px;
  position: absolute;
}
.desktop-vector054 {
  top: 171.40975952148438px;
  left: 32.4033203125px;
  width: 25px;
  height: 28px;
  position: absolute;
}
.desktop-vector055 {
  top: 211.07298278808594px;
  left: 52.4033203125px;
  width: 30px;
  height: 23px;
  position: absolute;
}
.desktop-vector056 {
  top: 247.72317504882812px;
  left: 61.5458984375px;
  width: 27px;
  height: 25px;
  position: absolute;
}
.desktop-vector057 {
  top: 189.8475799560547px;
  left: 8.107421875px;
  width: 37px;
  height: 18px;
  position: absolute;
}
.desktop-vector058 {
  top: 230.83935546875px;
  left: 12.89453125px;
  width: 39px;
  height: 18px;
  position: absolute;
}
.desktop-vector059 {
  top: 270.7304382324219px;
  left: 31.21875px;
  width: 38px;
  height: 18px;
  position: absolute;
}
.desktop-vector060 {
  top: 156.41966247558594px;
  left: 0.06640625px;
  width: 25px;
  height: 27px;
  opacity: 0.25;
  position: absolute;
}
.desktop-vector061 {
  top: 171.40975952148438px;
  left: 32.4033203125px;
  width: 25px;
  height: 28px;
  opacity: 0.25;
  position: absolute;
}
.desktop-vector062 {
  top: 211.07298278808594px;
  left: 52.4033203125px;
  width: 30px;
  height: 23px;
  opacity: 0.25;
  position: absolute;
}
.desktop-vector063 {
  top: 247.72317504882812px;
  left: 61.5458984375px;
  width: 27px;
  height: 25px;
  opacity: 0.25;
  position: absolute;
}
.desktop-vector064 {
  top: 189.8475799560547px;
  left: 8.107421875px;
  width: 37px;
  height: 18px;
  opacity: 0.25;
  position: absolute;
}
.desktop-vector065 {
  top: 230.83935546875px;
  left: 12.89453125px;
  width: 39px;
  height: 18px;
  opacity: 0.25;
  position: absolute;
}
.desktop-vector066 {
  top: 270.7304382324219px;
  left: 31.21875px;
  width: 38px;
  height: 18px;
  opacity: 0.25;
  position: absolute;
}
.desktop-vector067 {
  top: 239.08824157714844px;
  left: 38.4169921875px;
  width: 523px;
  height: 160px;
  opacity: 0.10;
  position: absolute;
}
.desktop-vector068 {
  top: 138.1959228515625px;
  left: 79.6533203125px;
  width: 236px;
  height: 131px;
  position: absolute;
}
.desktop-vector069 {
  top: 131.831298828125px;
  left: 73.83203125px;
  width: 449px;
  height: 255px;
  position: absolute;
}
.desktop-vector070 {
  top: 292.1333312988281px;
  left: 271.166015625px;
  width: 252px;
  height: 95px;
  opacity: 0.10;
  position: absolute;
}
.desktop-vector071 {
  top: 224.36781311035156px;
  left: 84.671875px;
  width: 445px;
  height: 114px;
  position: absolute;
}
.desktop-vector072 {
  top: 224.23611450195312px;
  left: 89.7978515625px;
  width: 422px;
  height: 75px;
  position: absolute;
}
.desktop-vector073 {
  top: 170.322265625px;
  left: 172.63671875px;
  width: 210px;
  height: 123px;
  position: absolute;
}
.desktop-vector074 {
  top: 220.79029846191406px;
  left: 197.126953125px;
  width: 10px;
  height: 8px;
  position: absolute;
}
.desktop-vector075 {
  top: 224.59043884277344px;
  left: 196.078125px;
  width: 78px;
  height: 17px;
  position: absolute;
}
.desktop-vector076 {
  top: 224.59043884277344px;
  left: 196.078125px;
  width: 78px;
  height: 17px;
  opacity: 0.05;
  position: absolute;
}
.desktop-vector077 {
  top: 244.0222625732422px;
  left: 222.1171875px;
  width: 159px;
  height: 38px;
  position: absolute;
}
.desktop-vector078 {
  top: 244.0222625732422px;
  left: 222.1171875px;
  width: 159px;
  height: 38px;
  opacity: 0.05;
  position: absolute;
}
.desktop-vector079 {
  top: 216.13211059570312px;
  left: 227.103515625px;
  width: 153px;
  height: 76px;
  position: absolute;
}
.desktop-vector080 {
  top: 193.16407775878906px;
  left: 211.15625px;
  width: 35px;
  height: 20px;
  position: absolute;
}
.desktop-vector081 {
  top: 193.16407775878906px;
  left: 211.15625px;
  width: 35px;
  height: 20px;
  opacity: 0.05;
  position: absolute;
}
.desktop-vector082 {
  top: 181.5004425048828px;
  left: 159.482421875px;
  width: 90px;
  height: 67px;
  position: absolute;
}
.desktop-vector083 {
  top: 181.5004425048828px;
  left: 159.482421875px;
  width: 90px;
  height: 67px;
  opacity: 0.05;
  position: absolute;
}
.desktop-vector084 {
  top: 180.41549682617188px;
  left: 160.35546875px;
  width: 90px;
  height: 67px;
  position: absolute;
}
.desktop-vector085 {
  top: 185.48988342285156px;
  left: 229.732421875px;
  width: 67px;
  height: 24px;
  position: absolute;
}
.desktop-vector086 {
  top: 186.57568359375px;
  left: 236.9970703125px;
  width: 128px;
  height: 75px;
  opacity: 0.05;
  position: absolute;
}
.desktop-vector087 {
  top: 186.29434204101562px;
  left: 237.9248046875px;
  width: 128px;
  height: 75px;
  position: absolute;
}
.desktop-vector088 {
  top: 224.73092651367188px;
  left: 219.087890625px;
  width: 11px;
  height: 8px;
  position: absolute;
}
.desktop-vector089 {
  top: 183.70704650878906px;
  left: 219.8955078125px;
  width: 76px;
  height: 52px;
  opacity: 0.10;
  position: absolute;
}
.desktop-vector090 {
  top: 183.23402404785156px;
  left: 219.23828125px;
  width: 76px;
  height: 52px;
  position: absolute;
}
.desktop-vector091 {
  top: 192.57762145996094px;
  left: 213.119140625px;
  width: 12px;
  height: 15px;
  opacity: 0.10;
  position: absolute;
}
.desktop-vector092 {
  top: 188.6403350830078px;
  left: 191.02734375px;
  width: 34px;
  height: 24px;
  position: absolute;
}
.desktop-vector093 {
  top: 171.6219482421875px;
  left: 174.884765625px;
  width: 86px;
  height: 39px;
  position: absolute;
}
.desktop-vector094 {
  top: 208.41952514648438px;
  left: 189.36328125px;
  width: 39px;
  height: 11px;
  position: absolute;
}
.desktop-vector095 {
  top: 212.2024688720703px;
  left: 173.8681640625px;
  width: 12px;
  height: 12px;
  opacity: 0.05;
  position: absolute;
}
.desktop-vector096 {
  top: 209.04859924316406px;
  left: 167.0859375px;
  width: 12px;
  height: 12px;
  opacity: 0.05;
  position: absolute;
}
.desktop-vector097 {
  top: 212.2073516845703px;
  left: 289.982421875px;
  width: 46px;
  height: 11px;
  opacity: 0.05;
  position: absolute;
}
.desktop-vector098 {
  top: 372.36431884765625px;
  left: 206.1083984375px;
  width: 37px;
  height: 16px;
  position: absolute;
}
.desktop-vector099 {
  top: 334.29840087890625px;
  left: 511.4736328125px;
  width: 23px;
  height: 10px;
  position: absolute;
}
.desktop-text021 {
  color: rgba(212, 175, 55, 1);
  width: 328px;
  height: auto;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop-text022 {
  color: rgba(212, 175, 55, 1);
}
.desktop-line2 {
  width: 985px;
  height: 0px;
  position: relative;
  margin-bottom: 88px;
}
.desktop-box3 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-bottom: 88px;
}
.desktop-text027 {
  color: rgba(212, 175, 55, 1);
  width: 324px;
  height: auto;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 60px;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop-text028 {
  color: rgba(212, 175, 55, 1);
}
.desktop-undrawcreditcardpaymentreo9111svg {
  width: 662px;
  height: 362.8606872558594px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 0;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop-vector100 {
  top: 17.051300048828125px;
  left: 531.50048828125px;
  width: 48px;
  height: 37px;
  position: absolute;
}
.desktop-vector101 {
  top: 24.01593589782715px;
  left: 533.58837890625px;
  width: 34px;
  height: 27px;
  position: absolute;
}
.desktop-vector102 {
  top: 21.05222511291504px;
  left: 528.03564453125px;
  width: 40px;
  height: 17px;
  position: absolute;
}
.desktop-vector103 {
  top: 77.46830749511719px;
  left: 467.10009765625px;
  width: 36px;
  height: 19px;
  position: absolute;
}
.desktop-vector104 {
  top: 66.95362091064453px;
  left: 485.54736328125px;
  width: 69px;
  height: 33px;
  position: absolute;
}
.desktop-vector105 {
  top: 62.79585266113281px;
  left: 505.39111328125px;
  width: 40px;
  height: 86px;
  position: absolute;
}
.desktop-vector106 {
  top: 223.40476989746094px;
  left: 495.56884765625px;
  width: 15px;
  height: 32px;
  position: absolute;
}
.desktop-vector107 {
  top: 252.6136016845703px;
  left: 480.39892578125px;
  width: 33px;
  height: 11px;
  position: absolute;
}
.desktop-vector108 {
  top: 217.74159240722656px;
  left: 593.20166015625px;
  width: 26px;
  height: 33px;
  position: absolute;
}
.desktop-vector109 {
  top: 244.84158325195312px;
  left: 593.28759765625px;
  width: 32px;
  height: 18px;
  position: absolute;
}
.desktop-vector110 {
  top: 94.88453674316406px;
  left: 485.21728515625px;
  width: 140px;
  height: 152px;
  position: absolute;
}
.desktop-vector111 {
  top: 56.862815856933594px;
  left: 524.79736328125px;
  width: 43px;
  height: 71px;
  position: absolute;
}
.desktop-vector112 {
  top: 53.845157623291016px;
  left: 554.15283203125px;
  width: 41px;
  height: 88px;
  position: absolute;
}
.desktop-vector113 {
  top: 103.23509216308594px;
  left: 556.61181640625px;
  width: 30px;
  height: 24px;
  position: absolute;
}
.desktop-vector114 {
  top: 55.3182258605957px;
  left: 568.84423828125px;
  width: 34px;
  height: 63px;
  position: absolute;
}
.desktop-vector115 {
  top: 30.562292098999023px;
  left: 187.73291015625px;
  width: 288px;
  height: 138px;
  position: absolute;
}
.desktop-vector116 {
  top: 142.82533264160156px;
  left: 192.49853515625px;
  width: 283px;
  height: 25px;
  position: absolute;
}
.desktop-vector117 {
  top: 49.29901885986328px;
  left: 202.92626953125px;
  width: 36px;
  height: 18px;
  position: absolute;
}
.desktop-vector118 {
  top: 95.67898559570312px;
  left: 395.07080078125px;
  width: 60px;
  height: 39px;
  position: absolute;
}
.desktop-vector119 {
  top: 48.57145690917969px;
  left: 201.63525390625px;
  width: 38px;
  height: 19px;
  position: absolute;
}
.desktop-vector120 {
  top: 109.41858673095703px;
  left: 203.77978515625px;
  width: 67px;
  height: 22px;
  position: absolute;
}
.desktop-vector121 {
  top: 103.8582992553711px;
  left: 402.68798828125px;
  width: 20px;
  height: 6px;
  position: absolute;
}
.desktop-vector122 {
  top: 112.66753387451172px;
  left: 403.04541015625px;
  width: 20px;
  height: 6px;
  position: absolute;
}
.desktop-vector123 {
  top: 121.47676849365234px;
  left: 403.41650390625px;
  width: 20px;
  height: 6px;
  position: absolute;
}
.desktop-vector124 {
  top: 103.20507049560547px;
  left: 426.33447265625px;
  width: 20px;
  height: 6px;
  position: absolute;
}
.desktop-vector125 {
  top: 112.0145492553711px;
  left: 426.70751953125px;
  width: 20px;
  height: 6px;
  position: absolute;
}
.desktop-vector126 {
  top: 120.82402801513672px;
  left: 427.06884765625px;
  width: 20px;
  height: 6px;
  position: absolute;
}
.desktop-vector127 {
  top: 76.55596160888672px;
  left: 189.41650390625px;
  width: 283px;
  height: 1px;
  position: absolute;
}
.desktop-vector128 {
  top: 30.562292098999023px;
  left: 187.73291015625px;
  width: 288px;
  height: 138px;
  position: absolute;
}
.desktop-vector129 {
  top: 119.66378021240234px;
  left: 79.669921875px;
  width: 32px;
  height: 26px;
  position: absolute;
}
.desktop-vector130 {
  top: 61.29593276977539px;
  left: 57.6279296875px;
  width: 42px;
  height: 76px;
  position: absolute;
}
.desktop-vector131 {
  top: 31.061004638671875px;
  left: 182.30517578125px;
  width: 30px;
  height: 27px;
  position: absolute;
}
.desktop-vector132 {
  top: 41.53383255004883px;
  left: 111.8779296875px;
  width: 92px;
  height: 36px;
  position: absolute;
}
.desktop-vector133 {
  top: 221.8307647705078px;
  left: 135.23095703125px;
  width: 16px;
  height: 33px;
  position: absolute;
}
.desktop-vector134 {
  top: 263.3335876464844px;
  left: 166.41064453125px;
  width: 33px;
  height: 11px;
  position: absolute;
}
.desktop-vector135 {
  top: 221.8307647705078px;
  left: 92.6796875px;
  width: 16px;
  height: 33px;
  position: absolute;
}
.desktop-vector136 {
  top: 263.3335876464844px;
  left: 123.85986328125px;
  width: 33px;
  height: 11px;
  position: absolute;
}
.desktop-vector137 {
  top: 133.18356323242188px;
  left: 88.8955078125px;
  width: 64px;
  height: 115px;
  position: absolute;
}
.desktop-vector138 {
  top: 41.57350158691406px;
  left: 71.9111328125px;
  width: 79px;
  height: 98px;
  position: absolute;
}
.desktop-vector139 {
  top: 5.109554290771484px;
  left: 93.7294921875px;
  width: 40px;
  height: 33px;
  position: absolute;
}
.desktop-vector140 {
  top: 0px;
  left: 87.7734375px;
  width: 48px;
  height: 39px;
  position: absolute;
}
.desktop-vector141 {
  top: 262.8967590332031px;
  left: 0px;
  width: 662px;
  height: 1px;
  position: absolute;
}
.desktop-vector142 {
  top: 325.1587219238281px;
  left: 368.44775390625px;
  width: 14px;
  height: 30px;
  position: absolute;
}
.desktop-vector143 {
  top: 352.7377624511719px;
  left: 366.00439453125px;
  width: 31px;
  height: 10px;
  position: absolute;
}
.desktop-vector144 {
  top: 325.1587219238281px;
  left: 279.28173828125px;
  width: 14px;
  height: 30px;
  position: absolute;
}
.desktop-vector145 {
  top: 352.7377624511719px;
  left: 276.83642578125px;
  width: 31px;
  height: 10px;
  position: absolute;
}
.desktop-vector146 {
  top: 198.5643768310547px;
  left: 272.23486328125px;
  width: 115px;
  height: 149px;
  position: absolute;
}
.desktop-vector147 {
  top: 49.62063217163086px;
  left: 307.93212890625px;
  width: 43px;
  height: 35px;
  position: absolute;
}
.desktop-vector148 {
  top: 42.71470260620117px;
  left: 304.81298828125px;
  width: 49px;
  height: 44px;
  position: absolute;
}
.desktop-vector149 {
  top: 197.7152557373047px;
  left: 268.75048828125px;
  width: 18px;
  height: 34px;
  position: absolute;
}
.desktop-vector150 {
  top: 91.60971069335938px;
  left: 284.79150390625px;
  width: 89px;
  height: 115px;
  position: absolute;
}
.desktop-vector151 {
  top: 196.28013610839844px;
  left: 377.43212890625px;
  width: 21px;
  height: 35px;
  position: absolute;
}
.desktop-vector152 {
  top: 102.9543685913086px;
  left: 355.06103515625px;
  width: 40px;
  height: 111px;
  position: absolute;
}
.desktop-vector153 {
  top: 108.97919464111328px;
  left: 270.92236328125px;
  width: 31px;
  height: 105px;
  position: absolute;
}
.desktop-line3 {
  width: 985px;
  height: 0px;
  position: relative;
  margin-bottom: 88px;
}
.desktop-box4 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-bottom: 88px;
}
.desktop-undrawfitnesstracker30331svg {
  width: 618px;
  height: 427.75689697265625px;
  display: flex;
  padding: 0;
  position: relative;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  margin-right: 41px;
  border-radius: 0px 0px 0px 0px;
  margin-bottom: 0;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop-vector154 {
  top: 390.1575012207031px;
  left: 0px;
  width: 618px;
  height: 38px;
  opacity: 0.10;
  position: absolute;
}
.desktop-vector155 {
  top: 378.21722412109375px;
  left: 543.09912109375px;
  width: 27px;
  height: 34px;
  position: absolute;
}
.desktop-vector156 {
  top: 378.24481201171875px;
  left: 543.12255859375px;
  width: 26px;
  height: 23px;
  opacity: 0.10;
  position: absolute;
}
.desktop-vector157 {
  top: 326.0284729003906px;
  left: 511.35693359375px;
  width: 87px;
  height: 74px;
  position: absolute;
}
.desktop-vector158 {
  top: 362.6329040527344px;
  left: 511.32763671875px;
  width: 86px;
  height: 37px;
  opacity: 0.10;
  position: absolute;
}
.desktop-vector159 {
  top: 97.96358489990234px;
  left: 406.5087890625px;
  width: 6px;
  height: 48px;
  position: absolute;
}
.desktop-vector160 {
  top: 60.015953063964844px;
  left: 204.708984375px;
  width: 3px;
  height: 16px;
  position: absolute;
}
.desktop-vector161 {
  top: 89.21342468261719px;
  left: 204.5849609375px;
  width: 4px;
  height: 28px;
  position: absolute;
}
.desktop-vector162 {
  top: 126.67601776123047px;
  left: 204.6435546875px;
  width: 4px;
  height: 28px;
  position: absolute;
}
.desktop-vector163 {
  top: 7.326047420501709px;
  left: 206.6396484375px;
  width: 203px;
  height: 400px;
  position: absolute;
}
.desktop-vector164 {
  top: 19.25546646118164px;
  left: 288.6142578125px;
  width: 28px;
  height: 6px;
  position: absolute;
}
.desktop-vector165 {
  top: 18.879661560058594px;
  left: 321.2724609375px;
  width: 7px;
  height: 6px;
  position: absolute;
}
.desktop-vector166 {
  top: 17.728572845458984px;
  left: 219.18359375px;
  width: 178px;
  height: 379px;
  position: absolute;
}
.desktop-vector167 {
  top: 109.47521209716797px;
  left: 219.18359375px;
  width: 179px;
  height: 186px;
  opacity: 0.20;
  position: absolute;
}
.desktop-vector168 {
  top: 157.72088623046875px;
  left: 219.18359375px;
  width: 179px;
  height: 137px;
  opacity: 0.20;
  position: absolute;
}
.desktop-vector169 {
  top: 273.37127685546875px;
  left: 237.2255859375px;
  width: 142px;
  height: 43px;
  position: absolute;
}
.desktop-vector170 {
  top: 370.11749267578125px;
  left: 39.7333984375px;
  width: 54px;
  height: 41px;
  position: absolute;
}
.desktop-vector171 {
  top: 386.917236328125px;
  left: 39.7158203125px;
  width: 46px;
  height: 24px;
  opacity: 0.10;
  position: absolute;
}
.desktop-vector172 {
  top: 326.8938293457031px;
  left: 131.90625px;
  width: 16px;
  height: 42px;
  position: absolute;
}
.desktop-vector173 {
  top: 279.0797424316406px;
  left: 151.6357421875px;
  width: 28px;
  height: 63px;
  position: absolute;
}
.desktop-vector174 {
  top: 279.0797424316406px;
  left: 151.6357421875px;
  width: 28px;
  height: 63px;
  opacity: 0.05;
  position: absolute;
}
.desktop-vector175 {
  top: 263.58575439453125px;
  left: 123.02734375px;
  width: 43px;
  height: 135px;
  position: absolute;
}
.desktop-vector176 {
  top: 390.7087097167969px;
  left: 152.4599609375px;
  width: 19px;
  height: 23px;
  position: absolute;
}
.desktop-vector177 {
  top: 129.36656188964844px;
  left: 35.1640625px;
  width: 131px;
  height: 102px;
  position: absolute;
}
.desktop-group {
  top: 129.40318298339844px;
  left: 61.80859375px;
  width: 104.11851501464844px;
  height: 101.8854751586914px;
  display: flex;
  opacity: 0.10;
  padding: 0;
  position: absolute;
  align-self: auto;
  box-sizing: border-box;
  align-items: flex-start;
  flex-shrink: 1;
  border-color: transparent;
  border-style: none;
  border-width: 0;
  border-radius: 0px 0px 0px 0px;
  flex-direction: row;
  justify-content: flex-start;
  background-color: transparent;
}
.desktop-vector178 {
  top: 15.656563758850098px;
  left: 12.9208984375px;
  width: 25px;
  height: 3px;
  position: absolute;
}
.desktop-vector179 {
  top: 80.4864273071289px;
  left: 0px;
  width: 29px;
  height: 21px;
  position: absolute;
}
.desktop-vector180 {
  top: 0.0000031929180295264814px;
  left: 71.13822937011719px;
  width: 33px;
  height: 44px;
  position: absolute;
}
.desktop-vector181 {
  top: 45.03516387939453px;
  left: 41.90576171875px;
  width: 27px;
  height: 34px;
  position: absolute;
}
.desktop-vector182 {
  top: 162.68751525878906px;
  left: 129.072265625px;
  width: 37px;
  height: 45px;
  position: absolute;
}
.desktop-vector183 {
  top: 182.3169403076172px;
  left: 107.197265625px;
  width: 25px;
  height: 70px;
  position: absolute;
}
.desktop-vector184 {
  top: 175.85467529296875px;
  left: 151.1845703125px;
  width: 41px;
  height: 58px;
  position: absolute;
}
.desktop-vector185 {
  top: 212.95684814453125px;
  left: 125.6298828125px;
  width: 52px;
  height: 42px;
  position: absolute;
}
.desktop-vector186 {
  top: 212.95684814453125px;
  left: 125.6298828125px;
  width: 52px;
  height: 42px;
  opacity: 0.05;
  position: absolute;
}
.desktop-vector187 {
  top: 244.24388122558594px;
  left: 120.666015625px;
  width: 61px;
  height: 40px;
  position: absolute;
}
.desktop-vector188 {
  top: 176.38218688964844px;
  left: 125.166015625px;
  width: 51px;
  height: 46px;
  position: absolute;
}
.desktop-vector189 {
  top: 137.21463012695312px;
  left: 128.9140625px;
  width: 34px;
  height: 33px;
  position: absolute;
}
.desktop-vector190 {
  top: 189.97142028808594px;
  left: 107.197265625px;
  width: 23px;
  height: 62px;
  position: absolute;
}
.desktop-vector191 {
  top: 190.53530883789062px;
  left: 151.1845703125px;
  width: 41px;
  height: 44px;
  position: absolute;
}
.desktop-vector192 {
  top: 134.7664794921875px;
  left: 119.9052734375px;
  width: 38px;
  height: 32px;
  position: absolute;
}
.desktop-vector193 {
  top: 136.29776000976562px;
  left: 130.9091796875px;
  width: 27px;
  height: 31px;
  opacity: 0.10;
  position: absolute;
}
.desktop-vector194 {
  top: 342.3026428222656px;
  left: 213.0908203125px;
  width: 192px;
  height: 58px;
  position: absolute;
}
.desktop-vector195 {
  top: 360.8980407714844px;
  left: 300.7998046875px;
  width: 16px;
  height: 20px;
  position: absolute;
}
.desktop-vector196 {
  top: 0px;
  left: 85.3779296875px;
  width: 71px;
  height: 45px;
  position: absolute;
}
.desktop-vector197 {
  top: 20.31464958190918px;
  left: 85.4189453125px;
  width: 51px;
  height: 24px;
  opacity: 0.03;
  position: absolute;
}
.desktop-vector198 {
  top: 136.8272247314453px;
  left: 432.1748046875px;
  width: 35px;
  height: 22px;
  position: absolute;
}
.desktop-vector199 {
  top: 146.94549560546875px;
  left: 432.1865234375px;
  width: 25px;
  height: 12px;
  opacity: 0.03;
  position: absolute;
}
.desktop-vector200 {
  top: 58.28461837768555px;
  left: 474.3447265625px;
  width: 57px;
  height: 36px;
  position: absolute;
}
.desktop-vector201 {
  top: 74.54902648925781px;
  left: 490.08544921875px;
  width: 41px;
  height: 19px;
  opacity: 0.03;
  position: absolute;
}
.desktop-text035 {
  color: rgba(212, 175, 55, 1);
  width: 364px;
  height: auto;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop-text036 {
  color: rgba(212, 175, 55, 1);
}
.desktop-line4 {
  width: 991px;
  height: 0px;
  position: relative;
}
.desktop-galeria {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 88px;
  flex-direction: column;
}
.desktop-text043 {
  color: rgba(212, 175, 55, 1);
  width: 945px;
  height: auto;
  font-size: 48px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Prata;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 40px;
  text-decoration: none;
}
.desktop-galeria1 {
  width: 945px;
  height: 611.8232421875px;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
}
.desktop-movado-connectgold1 {
  top: 0px;
  left: 0px;
  width: 945px;
  height: 612px;
  position: absolute;
  border-color: transparent;
}
.desktop-rectangle9 {
  top: 0px;
  left: 0px;
  width: 945px;
  height: 612px;
  position: absolute;
  border-color: rgba(212, 175, 55, 1);
  border-style: solid;
  border-width: 4px;
  border-radius: 30px;
}
.desktop-angleleft {
  top: 263.50396728515625px;
  left: 34.43877410888672px;
  width: 76px;
  height: 86px;
  position: absolute;
}
.desktop-angleright {
  top: 263.50396728515625px;
  left: 822.39794921875px;
  width: 76px;
  height: 86px;
  position: absolute;
}
.desktop-specyfikacja {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-bottom: 88px;
}
.desktop-frame4 {
  display: flex;
  position: relative;
  align-items: flex-start;
  border-color: transparent;
  margin-right: 237px;
  flex-direction: column;
}
.desktop-text045 {
  color: rgba(212, 175, 55, 1);
  width: 268px;
  height: auto;
  font-size: 48px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 62px;
  text-decoration: none;
}
.desktop-text047 {
  color: rgba(212, 175, 55, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop-text048 {
  color: rgba(212, 175, 55, 1);
}
.desktop-text052 {
  color: rgba(255, 255, 255, 1);
}
.desktop-text056 {
  color: rgba(212, 175, 55, 1);
}
.desktop-text060 {
  color: rgba(255, 255, 255, 1);
}
.desktop-text064 {
  color: rgba(212, 175, 55, 1);
}
.desktop-text068 {
  color: rgba(255, 255, 255, 1);
}
.desktop-text072 {
  color: rgba(212, 175, 55, 1);
}
.desktop-text076 {
  color: rgba(255, 255, 255, 1);
}
.desktop-text080 {
  color: rgba(212, 175, 55, 1);
}
.desktop-text084 {
  color: rgba(255, 255, 255, 1);
}
.desktop-text088 {
  color: rgba(212, 175, 55, 1);
}
.desktop-frame5 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.desktop-text093 {
  color: rgba(212, 175, 55, 1);
  height: auto;
  font-size: 48px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 62px;
  text-decoration: none;
}
.desktop-text095 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 62px;
  text-decoration: none;
}
.desktop-frame6 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
}
.desktop-downloadmastercardwhitelogopng21635274084smejhasby {
  width: 159px;
  height: 90px;
  position: relative;
  border-color: transparent;
  margin-bottom: 43px;
}
.desktop-visalogowhite300x971 {
  width: 197px;
  height: 66px;
  position: relative;
  border-color: transparent;
  margin-bottom: 43px;
}
.desktop-google-pay-logo1 {
  width: 201px;
  height: 74px;
  position: relative;
  border-color: transparent;
}
.desktop-onas {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  background-color: rgba(217, 217, 217, 0.07000000029802322);
}
.desktop-frame61 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-bottom: 10px;
  justify-content: center;
}
.desktop-przycisk04 {
  display: flex;
  padding: 18px 0;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 79px;
  justify-content: center;
}
.desktop-text097 {
  color: rgba(232, 232, 232, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop-przycisk05 {
  display: flex;
  padding: 18px 0;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 79px;
  justify-content: center;
}
.desktop-text099 {
  color: rgba(232, 232, 232, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop-przycisk06 {
  display: flex;
  padding: 18px 0;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 79px;
  justify-content: center;
}
.desktop-text101 {
  color: rgba(232, 232, 232, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop-przycisk07 {
  display: flex;
  padding: 18px 0;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 79px;
  justify-content: center;
}
.desktop-text103 {
  color: rgba(232, 232, 232, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop-przycisk08 {
  display: flex;
  padding: 18px 0;
  overflow: hidden;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.desktop-text105 {
  color: rgba(232, 232, 232, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop-text107 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop-mobile {
  width: 100%;
  height: auto;
  display: none;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 1);
}
.desktop-baner1 {
  display: flex;
  padding: 20px 25px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  justify-content: center;
  background-color: rgba(217, 217, 217, 0.17000000178813934);
}
.desktop-hamburger {
  width: 103.33333587646484px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0px;
  flex-direction: column;
}
.desktop-przyciskikony3 {
  width: 22px;
  height: 19px;
  position: relative;
}
.desktop-logo1 {
  width: 103.33333587646484px;
  display: flex;
  padding: 0 80px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0px;
  flex-direction: column;
}
.desktop-text6711 {
  width: 131px;
  height: 17px;
  position: relative;
  box-sizing: content-box;
  border-color: transparent;
}
.desktop-right {
  width: 103.33333587646484px;
  height: 19.140625px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
}
.desktop-framerodek {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  background-color: rgba(217, 217, 217, 0.10000000149011612);
}
.desktop-tytu1 {
  display: flex;
  padding: 9px 0;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  margin-bottom: 40px;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 1);
}
.desktop-text109 {
  color: rgba(212, 175, 55, 1);
  height: auto;
  opacity: 0.80;
  font-size: 24px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Prata;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.desktop-movado-connectbackgroundcropped11 {
  width: auto;
  height: 120px;
  position: relative;
  align-self: stretch;
  border-color: transparent;
  margin-bottom: 0px;
}
.desktop-text111 {
  color: rgba(232, 232, 232, 1);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Prata;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop-funkcje1 {
  display: flex;
  padding: 0 33px;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  margin-bottom: 40px;
  flex-direction: column;
}
.desktop-box11 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  margin-bottom: 40px;
  flex-direction: column;
  justify-content: center;
}
.desktop-text116 {
  color: rgba(212, 175, 55, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 33px;
  text-decoration: none;
}
.desktop-text117 {
  color: rgba(212, 175, 55, 1);
}
.desktop-undrawdestinationresr741 {
  width: 290px;
  height: 193px;
  position: relative;
  align-self: stretch;
}
.desktop-line11 {
  width: 290px;
  height: 0px;
  position: relative;
  margin-bottom: 40px;
}
.desktop-box21 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  margin-bottom: 40px;
  flex-direction: column;
  justify-content: center;
}
.desktop-text122 {
  color: rgba(212, 175, 55, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 63px;
  text-decoration: none;
}
.desktop-text123 {
  color: rgba(212, 175, 55, 1);
}
.desktop-undrawsleepanalysiso5f91 {
  width: 290px;
  height: 207px;
  position: relative;
  align-self: stretch;
}
.desktop-line21 {
  width: 290px;
  height: 0px;
  position: relative;
  margin-bottom: 40px;
}
.desktop-box31 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  margin-bottom: 40px;
  flex-direction: column;
  justify-content: center;
}
.desktop-text128 {
  color: rgba(212, 175, 55, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.desktop-text129 {
  color: rgba(212, 175, 55, 1);
}
.desktop-undrawcreditcardpaymentreo9111 {
  width: 290px;
  height: 187px;
  position: relative;
  align-self: stretch;
}
.desktop-line31 {
  width: 290px;
  height: 0px;
  position: relative;
  margin-bottom: 40px;
}
.desktop-box41 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  margin-bottom: 40px;
  flex-direction: column;
  justify-content: center;
}
.desktop-text136 {
  color: rgba(212, 175, 55, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 41px;
  text-decoration: none;
}
.desktop-text137 {
  color: rgba(212, 175, 55, 1);
}
.desktop-undrawfitnesstracker30331 {
  width: 352px;
  height: 235px;
  position: relative;
}
.desktop-line41 {
  width: 290px;
  height: 0px;
  position: relative;
}
.desktop-galeria2 {
  display: flex;
  padding: 0 19px;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  margin-bottom: 40px;
  flex-direction: column;
}
.desktop-text144 {
  color: rgba(212, 175, 55, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Prata;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 37px;
  text-decoration: none;
}
.desktop-galeria3 {
  width: 318px;
  height: 271px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
}
.desktop-movado-connectgold11 {
  top: 0px;
  left: 0px;
  width: 318px;
  height: 271px;
  position: absolute;
  border-color: transparent;
}
.desktop-rectangle91 {
  top: 0px;
  left: 0px;
  width: 318px;
  height: 271px;
  position: absolute;
  border-color: rgba(212, 175, 55, 1);
  border-style: solid;
  border-width: 4px;
  border-radius: 30px;
}
.desktop-angleleft1 {
  top: 116.71601867675781px;
  left: 11.588921546936035px;
  width: 26px;
  height: 38px;
  position: absolute;
}
.desktop-angleright1 {
  top: 116.71601867675781px;
  left: 276.7434387207031px;
  width: 26px;
  height: 38px;
  position: absolute;
}
.desktop-specyfilacja {
  display: flex;
  padding: 40px 20px 0 20px;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  margin-bottom: 40px;
  flex-direction: column;
}
.desktop-frame41 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  margin-bottom: 60px;
  flex-direction: column;
  justify-content: center;
}
.desktop-text146 {
  color: rgba(212, 175, 55, 1);
  width: 268px;
  height: auto;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Prata;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 66px;
  text-decoration: none;
}
.desktop-text148 {
  color: rgba(212, 175, 55, 1);
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop-text149 {
  color: rgba(212, 175, 55, 1);
}
.desktop-text153 {
  color: rgba(255, 255, 255, 1);
}
.desktop-text157 {
  color: rgba(212, 175, 55, 1);
}
.desktop-text161 {
  color: rgba(255, 255, 255, 1);
}
.desktop-text165 {
  color: rgba(212, 175, 55, 1);
}
.desktop-text169 {
  color: rgba(255, 255, 255, 1);
}
.desktop-text173 {
  color: rgba(212, 175, 55, 1);
}
.desktop-text177 {
  color: rgba(255, 255, 255, 1);
}
.desktop-text181 {
  color: rgba(212, 175, 55, 1);
}
.desktop-text185 {
  color: rgba(255, 255, 255, 1);
}
.desktop-text189 {
  color: rgba(212, 175, 55, 1);
}
.desktop-frame51 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.desktop-text194 {
  color: rgba(212, 175, 55, 1);
  height: auto;
  font-size: 32px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Prata;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 62px;
  text-decoration: none;
}
.desktop-text196 {
  color: rgba(212, 175, 55, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 62px;
  text-decoration: none;
}
.desktop-text197 {
  color: rgba(212, 175, 55, 1);
}
.desktop-frame62 {
  display: flex;
  padding: 0 82px;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.desktop-downloadmastercardwhitelogopng21635274084smejhasby1 {
  width: 159px;
  height: 90px;
  position: relative;
  border-color: transparent;
  margin-bottom: 43px;
}
.desktop-visalogowhite300x9711 {
  width: 197px;
  height: 66px;
  position: relative;
  border-color: transparent;
  margin-bottom: 43px;
}
.desktop-google-pay-logo11 {
  width: 201px;
  height: 74px;
  position: relative;
  border-color: transparent;
}
.desktop-onas1 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(217, 217, 217, 0.07000000029802322);
}
.desktop-frame63 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 10px;
  justify-content: center;
}
.desktop-przycisk09 {
  display: flex;
  padding: 18px 0;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 18px;
  justify-content: center;
}
.desktop-text207 {
  color: rgba(232, 232, 232, 1);
  height: auto;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop-przycisk10 {
  display: flex;
  padding: 18px 0;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 18px;
  justify-content: center;
}
.desktop-text209 {
  color: rgba(232, 232, 232, 1);
  height: auto;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop-przycisk11 {
  display: flex;
  padding: 18px 0;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 18px;
  justify-content: center;
}
.desktop-text211 {
  color: rgba(232, 232, 232, 1);
  height: auto;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop-przycisk12 {
  display: flex;
  padding: 18px 0;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 18px;
  justify-content: center;
}
.desktop-text213 {
  color: rgba(232, 232, 232, 1);
  height: auto;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop-przycisk13 {
  display: flex;
  padding: 18px 0;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.desktop-text215 {
  color: rgba(232, 232, 232, 1);
  height: auto;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.desktop-text217 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 8px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
@media(max-width: 1140px) {
  .desktop-desktop {
    display: none;
  }
  .desktop-mobile {
    display: flex;
  }
  .desktop-framerodek {
    width: 360px;
    position: 0px;
    align-self: center;
  }
}
