body,
#slider,
.wrap,
.slide-content {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
#slider{
  border-color: rgba(212, 175, 55, 1);
  border-width: 5px;
  border-radius: 30px;
}
.wrap {
  flex: 1;
  height: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}

.slide {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.slide1 {
  background-image: url("./public/playground_assets/MovadoConnectgold.jpg");
}
.slide2 {
  background-image: url("./public/playground_assets/MovadoConnectsilver.jpg");
}
.slide3 {
  background-image: url("./public/playground_assets/MovadoConnectbronze.jpg");
}
.slide4 {
  background-image: url("./public/playground_assets/MovadoConnectplatinium.jpg");
}

.slide-content {
  flex: 2;
  width: 882px;
  height: 500px;
  align-self: stretch;
}

.arrow {
  cursor: pointer;
}
#arrow-left {
  flex: 1;
  right: var(--dl-space-space-halfunit);
  width: 100px;
  height: 100px;
  display: flex;
  position: absolute;
  top: 40%;
  left: 8px;
}

#arrow-right {
  flex: 1;
  right: var(--dl-space-space-halfunit);
  width: 100px;
  height: 100px;
  display: flex;
  position: absolute;
  top: 40%;
  right:8px;
}
body,
#slider2,
.wrap2,
.slide-content2 {
  width: 100%;
  height: 100%;
  overflow-x: hidden;
}
#slider2{
  border-color: rgba(212, 175, 55, 1);
  border-width: 5px;
  border-radius: 30px;
}
.wrap2 {
  flex: 1;
  height: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}

.slideb {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.slideb1 {
  background-image: url("./public/playground_assets/MovadoConnectgold.jpg");
}
.slideb2 {
  background-image: url("./public/playground_assets/MovadoConnectsilver.jpg");
}
.slideb3 {
  background-image: url("./public/playground_assets/MovadoConnectbronze.jpg");
}
.slideb4 {
  background-image: url("./public/playground_assets/MovadoConnectplatinium.jpg");
}

.slide-content2 {
  flex: 2;
  width: 100%;
  height: 200px;
  align-self: stretch;
}

.arrow2 {
  cursor: pointer;
}

#arrow-left2 {
  flex: 1;
  right: var(--dl-space-space-halfunit);
  width: 50px;
  height: 50px;
  display: flex;
  position: absolute;
  top: 40%;
  left: 8px;
}

#arrow-right2 {
  flex: 1;
  right: var(--dl-space-space-halfunit);
  width: 50px;
  height: 50px;
  display: flex;
  position: absolute;
  top: 40%;
  right:8px;
}
.index-container {
  min-height: 100vh;
}
.index-mobile {
  width: 100%;
  height: auto;
  display: none;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 1);
}
.index-baner {
  display: flex;
  padding: 20px 25px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  justify-content: center;
  background-color: rgba(217, 217, 217, 0.17000000178813934);
}
.index-hamburger {
  width: 103.33333587646484px;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0px;
  flex-direction: column;
}
.index-icon {
  width: 24px;
  height: 24px;
  transition: 0.3s;
}

.index-logo {
  width: 103.33333587646484px;
  display: flex;
  padding: 0 80px;
  position: relative;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-right: 0px;
  flex-direction: column;
}
.index-text671 {
  width: 131px;
  height: 17px;
  position: relative;
  box-sizing: content-box;
  border-color: transparent;
}
.index-right {
  width: 103.33333587646484px;
  height: 19.140625px;
  display: flex;
  overflow: hidden;
  position: relative;
  flex-grow: 1;
  align-self: stretch;
  align-items: flex-start;
  border-color: transparent;
}
.index-srodek {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  background-color: rgba(217, 217, 217, 0.10000000149011612);
}
.index-tytu {
  display: flex;
  padding: 9px 0;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  margin-bottom: 40px;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 1);
}
.index-text {
  color: rgba(212, 175, 55, 1);
  height: auto;
  opacity: 0.80;
  font-size: 24px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Prata;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.index-movado-connectbackgroundcropped1 {
  width: auto;
  height: 120px;
  position: relative;
  align-self: stretch;
  border-color: transparent;
  margin-bottom: 0px;
}
.index-text001 {
  color: rgba(232, 232, 232, 1);
  height: auto;
  font-size: 20px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Prata;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.index-funkcje {
  display: flex;
  padding: 0 33px;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  margin-bottom: 40px;
  flex-direction: column;
}
.index-box1 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  margin-bottom: 40px;
  flex-direction: column;
  justify-content: center;
}
.index-container01 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.index-text005 {
  color: rgba(212, 175, 55, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 33px;
}
.index-text008 {
  color: rgba(212, 175, 55, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 33px;
}
.index-undrawdestinationresr741svg {
  width: 290px;
  height: 193px;
  position: relative;
  align-self: stretch;
}
.index-container02 {
  display: flex;
  position: relative;
}
.index-line1 {
  width: 290px;
  height: 0px;
  position: relative;
  margin-bottom: 40px;
}
.index-box2 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  margin-bottom: 40px;
  flex-direction: column;
  justify-content: center;
}
.index-container03 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.index-text011 {
  color: rgba(212, 175, 55, 1);
  height: auto;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 63px;
}
.index-text014 {
  color: rgba(212, 175, 55, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 63px;
}
.index-undrawsleepanalysiso5f91svg {
  width: 290px;
  height: 207px;
  position: relative;
  align-self: stretch;
}
.index-line2 {
  width: 290px;
  height: 0px;
  position: relative;
  margin-bottom: 40px;
}
.index-box3 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  margin-bottom: 40px;
  flex-direction: column;
  justify-content: center;
}
.index-container04 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.index-text017 {
  color: rgba(212, 175, 55, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.index-text021 {
  color: rgba(212, 175, 55, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
}
.index-undrawcreditcardpaymentreo9111svg {
  width: 290px;
  height: 187px;
  position: relative;
  align-self: stretch;
}
.index-line3 {
  width: 290px;
  height: 0px;
  position: relative;
  margin-bottom: 40px;
}
.index-box4 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  margin-bottom: 40px;
  flex-direction: column;
  justify-content: center;
}
.index-container05 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.index-text025 {
  color: rgba(212, 175, 55, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 41px;
  text-decoration: none;
}
.index-text028 {
  color: rgba(212, 175, 55, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 41px;
}
.index-undrawfitnesstracker30331svg {
  width: 352px;
  height: 235px;
  position: relative;
}
.index-line4 {
  width: 290px;
  height: 0px;
  position: relative;
}
.index-galeria {
  display: flex;
  padding: 0 19px;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  margin-bottom: 40px;
  flex-direction: column;
}
.index-text032 {
  color: rgba(212, 175, 55, 1);
  height: auto;
  font-size: 16px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Prata;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 37px;
  text-decoration: none;
}
.index-property1default {
  flex: 1;
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.index-movado-connectgold1 {
  flex: 2;
  width: auto;
  height: auto;
  border-color: rgba(212, 175, 55, 1);
  border-width: 5px;
  border-radius: 30px;
}
.index-container06 {
  flex: 1;
  left: var(--dl-space-space-halfunit);
  right: 0px;
  width: 100px;
  height: 100px;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: center;
  border-radius: 0px;
  justify-content: center;
}
.index-icon02 {
  fill: #d4af37;
  flex: 1;
  width: 100%;
  height: 100%;
}
.index-container07 {
  flex: 1;
  right: var(--dl-space-space-halfunit);
  width: 100px;
  height: 100px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.index-icon04 {
  fill: #d4af37;
  flex: 1;
  width: 100%;
  height: 100%;
}
.index-specyfilacja {
  display: flex;
  padding: 40px 20px 0 20px;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  margin-bottom: 40px;
  flex-direction: column;
}
.index-frame4 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  margin-bottom: 60px;
  flex-direction: column;
  justify-content: center;
}
.index-text033 {
  color: rgba(212, 175, 55, 1);
  width: 268px;
  height: auto;
  font-size: 32px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Prata;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 66px;
  text-decoration: none;
}
.index-container08 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.index-text034 {
  color: rgba(212, 175, 55, 1);
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.index-text037 {
  color: rgba(212, 175, 55, 1);
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.index-text040 {
  color: rgba(212, 175, 55, 1);
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.index-text043 {
  color: rgba(212, 175, 55, 1);
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.index-text046 {
  color: rgba(212, 175, 55, 1);
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.index-text049 {
  color: rgba(212, 175, 55, 1);
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.index-text052 {
  color: rgba(212, 175, 55, 1);
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.index-text055 {
  color: rgba(212, 175, 55, 1);
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.index-text058 {
  color: rgba(212, 175, 55, 1);
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.index-text061 {
  color: rgba(212, 175, 55, 1);
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.index-text064 {
  color: rgba(212, 175, 55, 1);
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.index-text067 {
  color: rgba(212, 175, 55, 1);
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.index-frame5 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.index-text070 {
  color: rgba(212, 175, 55, 1);
  height: auto;
  font-size: 32px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Prata;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 62px;
  text-decoration: none;
}
.index-text071 {
  color: rgba(212, 175, 55, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 62px;
  text-decoration: none;
}
.index-text074 {
  color: rgba(212, 175, 55, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 62px;
  text-decoration: none;
}
.index-frame6 {
  display: flex;
  padding: 0 82px;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.index-downloadmastercardwhitelogopng21635274084smejhasby {
  width: 159px;
  height: 90px;
  position: relative;
  border-color: transparent;
  margin-bottom: 43px;
}
.index-visalogowhite300x971 {
  width: 197px;
  height: 66px;
  position: relative;
  border-color: transparent;
  margin-bottom: 43px;
}
.index-google-pay-logo1 {
  width: 201px;
  height: 74px;
  position: relative;
  border-color: transparent;
}
.index-onas {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(217, 217, 217, 0.07000000029802322);
}
.index-frame61 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 10px;
  justify-content: center;
}
.index-przycisk {
  display: flex;
  padding: 18px 0;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 18px;
  justify-content: center;
}
.index-text081 {
  color: rgba(232, 232, 232, 1);
  height: auto;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.index-przycisk1 {
  display: flex;
  padding: 18px 0;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 18px;
  justify-content: center;
}
.index-text083 {
  color: rgba(232, 232, 232, 1);
  height: auto;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.index-przycisk2 {
  display: flex;
  padding: 18px 0;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 18px;
  justify-content: center;
}
.index-text085 {
  color: rgba(232, 232, 232, 1);
  height: auto;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.index-przycisk3 {
  display: flex;
  padding: 18px 0;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-right: 18px;
  justify-content: center;
}
.index-text087 {
  color: rgba(232, 232, 232, 1);
  height: auto;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.index-przycisk4 {
  display: flex;
  padding: 18px 0;
  position: relative;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.index-text089 {
  color: rgba(232, 232, 232, 1);
  height: auto;
  font-size: 10px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.index-text091 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 8px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.index-desktop {
  width: 100%;
  height: auto;
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: center;
  flex-shrink: 0;
  border-color: rgba(0, 0, 0, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: 5px;
  flex-direction: column;
  background-color: rgba(0, 0, 0, 1);
}
.index-baner1 {
  gap: 120;
  flex: 0;
  display: flex;
  padding: 38px 45px;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 0px;
  justify-content: flex-start;
  background-color: rgba(217, 217, 217, 0.17000000178813934);
}
.index-logo1 {
  flex: 1;
  width: 293px;
  display: flex;
  align-items: center;
  border-color: transparent;
  margin-right: 109px;
  flex-direction: row;
  justify-content: flex-start;
}
.index-text6711 {
  width: 264px;
  height: 30px;
  position: relative;
  box-sizing: content-box;
  border-color: transparent;
}
.index-przyciski {
  gap: var(--dl-space-space-unit);
  display: flex;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  justify-content: center;
}
.index-text093 {
  color: rgb(232, 232, 232);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.index-text094 {
  color: rgb(232, 232, 232);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.index-text095 {
  color: rgb(232, 232, 232);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.index-text096 {
  color: rgba(232, 232, 232, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.index-container09 {
  gap: var(--dl-space-space-unit);
  flex: 1;
  width: auto;
  display: flex;
  align-self: stretch;
  align-items: center;
  flex-direction: row;
  justify-content: flex-end;
}
.index-icon06 {
  width: 25px;
  height: 25px;
  padding: 0px;
  align-self: center;
  transition: 0.3s;
}

.index-icon08 {
  width: 25px;
  height: 25px;
  padding: 0px;
  align-self: center;
  transition: 0.3s;
}

.index-icon10 {
  width: 26px;
  height: 25px;
  padding: 0px;
  align-self: center;
  transition: 0.3s;
}

.index-srodek1 {
  display: flex;
  position: relative;
  flex-grow: 1;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  background-color: rgba(217, 217, 217, 0.10000000149011612);
}
.index-tytu1 {
  display: flex;
  padding: 38px 0;
  position: relative;
  align-self: stretch;
  align-items: stretch;
  border-color: transparent;
  margin-bottom: 88px;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(0, 0, 0, 1);
}
.index-gra {
  flex: 1;
  width: 100%;
  display: flex;
  padding: 0 304px;
  position: relative;
  align-self: center;
  align-items: flex-start;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 30px;
  justify-content: center;
}
.index-text098 {
  color: rgb(212, 175, 55);
  opacity: 0.80;
  font-size: 64px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Prata;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.index-frame7 {
  height: 240.29541015625px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  margin-bottom: 30px;
  justify-content: center;
}
.index-image {
  width: 100%;
  height: auto;
  object-fit: cover;
  padding-left: var(--dl-space-space-fiveunits);
  padding-right: var(--dl-space-space-fiveunits);
}
.index-text099 {
  color: rgb(232, 232, 232);
  width: 100%;
  height: auto;
  font-size: 48px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Prata;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.index-funkcje1 {
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  margin-bottom: 88px;
  flex-direction: column;
}
.index-box11 {
  display: flex;
  padding: 0 30px;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-bottom: 88px;
}
.index-container10 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.index-text103 {
  color: rgb(212, 175, 55);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 33px;
}
.index-text106 {
  color: var(--dl-color-gray-white);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 33px;
}
.index-undrawdestinationresr741svg1 {
  width: 618px;
  height: 398px;
  position: relative;
}
.index-line11 {
  width: 991px;
  height: 0px;
  position: relative;
  margin-bottom: 88px;
}
.index-box21 {
  width: 1092px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 88px;
  justify-content: center;
}
.index-undrawsleepanalysiso5f91svg1 {
  width: 701px;
  height: 406px;
  position: relative;
  margin-right: 63px;
}
.index-container11 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.index-text109 {
  color: rgba(212, 175, 55, 1);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: normal;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: var(--dl-space-space-twounits);
}
.index-text112 {
  color: var(--dl-color-gray-white);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 63px;
}
.index-line21 {
  width: 985px;
  height: 0px;
  position: relative;
  margin-bottom: 88px;
}
.index-box31 {
  width: 1131px;
  display: flex;
  position: relative;
  align-items: center;
  flex-shrink: 0;
  border-color: transparent;
  margin-bottom: 88px;
  justify-content: center;
}
.index-container12 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.index-text115 {
  color: rgb(212, 175, 55);
  height: auto;
  font-size: 24px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
  text-decoration: none;
}
.index-text119 {
  color: var(--dl-color-gray-white);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0px;
}
.index-undrawcreditcardpaymentreo9111svg1 {
  width: 738px;
  height: 369px;
  position: relative;
}
.index-line31 {
  width: 985px;
  height: 0px;
  position: relative;
  margin-bottom: 88px;
}
.index-box41 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-bottom: 88px;
}
.index-undrawfitnesstracker30331svg1 {
  width: 618px;
  height: 435px;
  position: relative;
  margin-right: 41px;
}
.index-container13 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
}
.index-text123 {
  color: rgba(212, 175, 55, 1);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 41px;
  text-decoration: none;
}
.index-text126 {
  color: var(--dl-color-gray-white);
  height: auto;
  font-size: 18px;
  align-self: stretch;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 41px;
}
.index-line41 {
  width: 991px;
  height: 0px;
  position: relative;
}
.index-galeria1 {
  display: flex;
  padding: 25px 93px 0 93px;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  border-radius: 30px;
  margin-bottom: 88px;
  flex-direction: column;
}
.index-text130 {
  color: rgb(212, 175, 55);
  height: auto;
  font-size: 48px;
  align-self: stretch;
  font-style: Regular;
  text-align: center;
  font-family: Prata;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 40px;
  text-decoration: none;
}
.index-property1default1 {
  flex: 1;
  height: 100%;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  flex-shrink: 0;
  justify-content: center;
}
.index-movado-connectgold11 {
  flex: 2;
  width: 882px;
  height: auto;
  align-self: stretch;
  border-color: rgba(212, 175, 55, 1);
  border-width: 5px;
  border-radius: 30px;
}
.index-container14 {
  flex: 1;
  left: var(--dl-space-space-halfunit);
  right: 0px;
  width: 100px;
  height: 100px;
  display: flex;
  position: absolute;
  align-self: center;
  align-items: center;
  border-radius: 0px;
  justify-content: center;
}
.index-icon12 {
  fill: #d4af37;
  flex: 1;
  width: 100%;
  height: 100%;
}
.index-container15 {
  flex: 1;
  right: var(--dl-space-space-halfunit);
  width: 100px;
  height: 100px;
  display: flex;
  position: absolute;
  align-items: flex-start;
}
.index-icon14 {
  fill: #d4af37;
  flex: 1;
  width: 100%;
  height: 100%;
}
.index-specyfikacja {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  position: relative;
  align-self: stretch;
  margin-top: 68px;
  align-items: flex-start;
  flex-shrink: 0;
  padding-top: 68px 91px 0 91px;
  border-color: transparent;
  padding-left: 68px 91px 0 91px;
  margin-bottom: 88px;
  padding-right: 0px;
  padding-bottom: 68px 91px 0 91px;
  justify-content: center;
}
.index-frame41 {
  width: 100%;
  display: flex;
  position: relative;
  align-self: flex-start;
  align-items: flex-start;
  border-color: transparent;
  padding-left: 91px;
  margin-bottom: 60px;
  flex-direction: column;
  justify-content: center;
}
.index-text131 {
  color: rgba(212, 175, 55, 1);
  width: 268px;
  height: auto;
  font-size: 48px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Prata;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 66px;
  text-decoration: none;
}
.index-container16 {
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  justify-content: center;
}
.index-text132 {
  color: rgba(212, 175, 55, 1);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.index-text135 {
  color: var(--dl-color-gray-white);
  height: auto;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.index-text138 {
  color: rgba(212, 175, 55, 1);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.index-text141 {
  color: var(--dl-color-gray-white);
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.index-text144 {
  color: rgba(212, 175, 55, 1);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.index-text147 {
  color: var(--dl-color-gray-white);
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.index-text150 {
  color: rgba(212, 175, 55, 1);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.index-text153 {
  color: var(--dl-color-gray-white);
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.index-text156 {
  color: rgba(212, 175, 55, 1);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.index-text159 {
  color: var(--dl-color-gray-white);
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.index-text162 {
  color: rgba(212, 175, 55, 1);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
.index-text165 {
  color: var(--dl-color-gray-white);
  height: auto;
  font-size: 18px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
}
.index-frame51 {
  flex: 0;
  width: 577px;
  display: flex;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  padding-right: 91px;
  flex-direction: column;
}
.index-text168 {
  color: rgb(212, 175, 55);
  width: 419px;
  height: auto;
  font-size: 48px;
  align-self: auto;
  font-style: Regular;
  text-align: center;
  font-family: Prata;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 62px;
  text-decoration: none;
}
.index-text169 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 20px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Roboto;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 62px;
  text-decoration: none;
}
.index-frame62 {
  display: flex;
  padding: 0 82px;
  position: relative;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
}
.index-downloadmastercardwhitelogopng21635274084smejhasby1 {
  width: 159px;
  height: 90px;
  position: relative;
  border-color: transparent;
  margin-bottom: 43px;
}
.index-visalogowhite300x9711 {
  width: 197px;
  height: 66px;
  position: relative;
  border-color: transparent;
  margin-bottom: 43px;
}
.index-google-pay-logo11 {
  width: 201px;
  height: 74px;
  position: relative;
  border-color: transparent;
}
.index-onas1 {
  display: flex;
  padding: 10px 132px;
  position: relative;
  align-self: stretch;
  align-items: center;
  border-color: transparent;
  flex-direction: column;
  justify-content: center;
  background-color: rgba(217, 217, 217, 0.07000000029802322);
}
.index-frame63 {
  display: flex;
  position: relative;
  align-items: center;
  border-color: transparent;
  margin-bottom: 10px;
  justify-content: center;
}
.index-container17 {
  gap: var(--dl-space-space-fiveunits);
  display: flex;
  align-items: center;
  justify-content: center;
}
.index-text171 {
  color: rgba(232, 232, 232, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.index-text173 {
  color: rgba(232, 232, 232, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.index-text175 {
  color: rgba(232, 232, 232, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.index-text177 {
  color: rgba(232, 232, 232, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.index-text179 {
  color: rgba(232, 232, 232, 1);
  height: auto;
  font-size: 24px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  transition: 0.3s;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}

.index-text181 {
  color: rgba(255, 255, 255, 1);
  height: auto;
  font-size: 16px;
  align-self: auto;
  font-style: Regular;
  text-align: left;
  font-family: Ubuntu;
  font-weight: 400;
  line-height: normal;
  font-stretch: normal;
  margin-right: 0;
  margin-bottom: 0;
  text-decoration: none;
}
@media(max-width: 1140px) {
  .index-mobile {
    display: flex;
  }
  .index-icon {
    padding: 0px;
  }
  .index-srodek {
    width: 360px;
  }
  .index-text {
    color: rgb(212, 175, 55);
    font-size: 24px;
    font-family: Prata;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
  .index-text001 {
    color: rgb(232, 232, 232);
    font-size: 20px;
    font-family: Prata;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
  .index-text005 {
    color: rgb(212, 175, 55);
    text-decoration: none;
  }
  .index-text008 {
    color: var(--dl-color-gray-white);
    font-family: Roboto;
  }
  .index-text009 {
    color: var(--dl-color-gray-white);
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 1.15;
    text-transform: none;
    text-decoration: inherit;
  }
  .index-text010 {
    text-decoration: none;
  }
  .index-text011 {
    color: rgb(212, 175, 55);
    font-size: 18px;
    font-family: Ubuntu;
    font-weight: 400;
    line-height: normal;
    margin-bottom: var(--dl-space-space-unit);
    text-transform: none;
    text-decoration: none;
  }
  .index-text012 {
    font-size: 18px;
  }
  .index-text014 {
    color: var(--dl-color-gray-white);
    font-size: 18px;
    font-family: Roboto;
    font-weight: 400;
    line-height: normal;
    text-transform: none;
    text-decoration: none;
  }
  .index-text017 {
    color: rgb(212, 175, 55);
    font-size: 18px;
    font-family: Ubuntu;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
  .index-text021 {
    color: var(--dl-color-gray-white);
    font-size: 18px;
    font-family: Roboto;
    font-weight: 400;
    line-height: normal;
  }
  .index-text022 {
    color: var(--dl-color-gray-white);
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 1.15;
    text-transform: none;
    text-decoration: inherit;
  }
  .index-text023 {
    text-decoration: none;
  }
  .index-text024 {
    text-decoration: none;
  }
  .index-text025 {
    color: rgb(212, 175, 55);
    font-size: 18px;
    font-family: Roboto;
    font-weight: 400;
    line-height: normal;
    margin-bottom: var(--dl-space-space-unit);
    text-decoration: none;
  }
  .index-text028 {
    color: var(--dl-color-gray-white);
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .index-text032 {
    color: rgb(212, 175, 55);
    font-size: 20px;
    font-family: Prata;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
  .index-property1default {
    width: 339px;
  }
  .index-movado-connectgold1 {
    width: 334px;
  }
  .index-container06 {
    width: 60px;
    height: 50px;
  }
  .index-container07 {
    width: 60px;
    height: 50px;
  }
  .index-text033 {
    color: rgb(212, 175, 55);
    font-size: 20px;
    font-family: Prata;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 62px;
    text-decoration: none;
  }
  .index-text034 {
    color: rgb(212, 175, 55);
    height: auto;
    font-size: 18px;
    font-family: Ubuntu;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
  .index-text037 {
    color: rgb(212, 175, 55);
    font-size: 16px;
    font-family: Roboto;
  }
  .index-text038 {
    color: var(--dl-color-gray-white);
  }
  .index-text040 {
    color: rgb(212, 175, 55);
    height: auto;
    font-size: 18px;
    font-family: Ubuntu;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
  .index-text043 {
    color: rgb(212, 175, 55);
    font-size: 16px;
    font-family: Roboto;
  }
  .index-text044 {
    color: var(--dl-color-gray-white);
  }
  .index-text046 {
    color: rgb(212, 175, 55);
    height: auto;
    font-size: 18px;
    font-family: Ubuntu;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
  .index-text049 {
    color: rgb(212, 175, 55);
    font-size: 16px;
    font-family: Roboto;
  }
  .index-text050 {
    color: var(--dl-color-gray-white);
  }
  .index-text052 {
    color: rgb(212, 175, 55);
    height: auto;
    font-size: 18px;
    font-family: Ubuntu;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
  .index-text055 {
    color: rgb(212, 175, 55);
    font-size: 16px;
    font-family: Roboto;
  }
  .index-text056 {
    color: var(--dl-color-gray-white);
  }
  .index-text058 {
    color: rgb(212, 175, 55);
    height: auto;
    font-size: 18px;
    font-family: Ubuntu;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
  .index-text061 {
    color: rgb(212, 175, 55);
    font-size: 16px;
    font-family: Roboto;
  }
  .index-text062 {
    color: var(--dl-color-gray-white);
  }
  .index-text064 {
    color: rgb(212, 175, 55);
    height: auto;
    font-size: 18px;
    font-family: Ubuntu;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
  .index-text067 {
    color: rgb(212, 175, 55);
    font-size: 16px;
    font-family: Roboto;
  }
  .index-text068 {
    color: var(--dl-color-gray-white);
    font-family: Roboto;
  }
  .index-text070 {
    color: rgb(212, 175, 55);
    font-size: 20px;
    font-family: Prata;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 62px;
    text-decoration: none;
  }
  .index-text071 {
    color: rgb(212, 175, 55);
    font-size: 18px;
    font-family: Ubuntu;
    font-weight: 400;
    line-height: normal;
    margin-bottom: var(--dl-space-space-unit);
    text-decoration: none;
  }
  .index-text074 {
    color: var(--dl-color-gray-white);
    font-size: 16px;
  }
  .index-desktop {
    display: none;
  }
  .index-text103 {
    color: rgb(212, 175, 55);
    text-decoration: none;
  }
  .index-text106 {
    color: var(--dl-color-gray-white);
    font-family: Roboto;
  }
  .index-text107 {
    color: var(--dl-color-gray-white);
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 1.15;
    text-transform: none;
    text-decoration: inherit;
  }
  .index-text108 {
    text-decoration: none;
  }
  .index-text109 {
    color: rgb(212, 175, 55);
    font-size: 18px;
    font-family: Ubuntu;
    font-weight: 400;
    line-height: normal;
    margin-bottom: var(--dl-space-space-unit);
    text-transform: none;
    text-decoration: none;
  }
  .index-text110 {
    font-size: 18px;
  }
  .index-text112 {
    color: var(--dl-color-gray-white);
    font-size: 18px;
    font-family: Roboto;
    font-weight: 400;
    line-height: normal;
    text-transform: none;
    text-decoration: none;
  }
  .index-text115 {
    color: rgb(212, 175, 55);
    font-size: 18px;
    font-family: Ubuntu;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
  .index-text119 {
    color: var(--dl-color-gray-white);
    font-size: 18px;
    font-family: Roboto;
    font-weight: 400;
    line-height: normal;
  }
  .index-text120 {
    color: var(--dl-color-gray-white);
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 1.15;
    text-transform: none;
    text-decoration: inherit;
  }
  .index-text121 {
    text-decoration: none;
  }
  .index-text122 {
    text-decoration: none;
  }
  .index-text123 {
    color: rgb(212, 175, 55);
    font-size: 18px;
    font-family: Roboto;
    font-weight: 400;
    line-height: normal;
    margin-bottom: var(--dl-space-space-unit);
    text-decoration: none;
  }
  .index-text126 {
    color: var(--dl-color-gray-white);
    font-size: 16px;
    font-family: Roboto;
    font-weight: 400;
    line-height: 1.15;
    text-transform: none;
    text-decoration: none;
  }
  .index-text131 {
    color: rgb(212, 175, 55);
    font-size: 20px;
    font-family: Prata;
    font-weight: 400;
    line-height: normal;
    margin-bottom: 62px;
    text-decoration: none;
  }
  .index-text132 {
    color: rgb(212, 175, 55);
    height: auto;
    font-size: 18px;
    font-family: Ubuntu;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
  .index-text135 {
    color: rgb(212, 175, 55);
    font-family: Roboto;
  }
  .index-text136 {
    color: var(--dl-color-gray-white);
  }
  .index-text138 {
    color: rgb(212, 175, 55);
    height: auto;
    font-size: 18px;
    font-family: Ubuntu;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
  .index-text141 {
    color: rgb(212, 175, 55);
    font-family: Roboto;
  }
  .index-text142 {
    color: var(--dl-color-gray-white);
  }
  .index-text144 {
    color: rgb(212, 175, 55);
    height: auto;
    font-size: 18px;
    font-family: Ubuntu;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
  .index-text147 {
    color: rgb(212, 175, 55);
    font-family: Roboto;
  }
  .index-text148 {
    color: var(--dl-color-gray-white);
  }
  .index-text150 {
    color: rgb(212, 175, 55);
    height: auto;
    font-size: 18px;
    font-family: Ubuntu;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
  .index-text153 {
    color: rgb(212, 175, 55);
    font-family: Roboto;
  }
  .index-text154 {
    color: var(--dl-color-gray-white);
  }
  .index-text156 {
    color: rgb(212, 175, 55);
    height: auto;
    font-size: 18px;
    font-family: Ubuntu;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
  .index-text159 {
    color: rgb(212, 175, 55);
    font-family: Roboto;
  }
  .index-text160 {
    color: var(--dl-color-gray-white);
  }
  .index-text162 {
    color: rgb(212, 175, 55);
    height: auto;
    font-size: 18px;
    font-family: Ubuntu;
    font-weight: 400;
    line-height: normal;
    text-decoration: none;
  }
  .index-text165 {
    color: rgb(212, 175, 55);
    font-family: Roboto;
  }
  .index-text166 {
    color: var(--dl-color-gray-white);
    font-family: Roboto;
  }
}
